<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Life of Adwin</title>
</head>
<body>
<h1>My name is Adwin Paul</h1>

<h2>A current senior at the University of Maryland, majoring in <em>Information Systems.</em> </h2>
<h2>Currently interns at <em>Warner Music Group</em> as an Emerging Talent Associate</h2>
<!-- Emphasized my current work experience on my header 2 -->

<p>Adwin is passionate about <strong>sports and community.</strong></p>
<p>My experiences in sports range from both in and out of the arena.</p>
<p>I plan on working in sports and tech to <strong>help provide oppurtunities in sports to those in need</strong>.</p>
<p>Adwin Paul's sports experiences</p>
<ul>
    <li>University of Maryland Athletics Department (Sports Marketing Intern)</li>
    <li>Wasserman (Sports Partnerships Strategy Intern)</li>
    <li>Pat The Roc (Basketball Trainer)</li>
    <li>Black Ops Basketball (Basketball Trainer)</li>
    <!-- Listed my sports experiences in an unorder list -->
</ul>
<p>Adwin Paul's business experiences</p>
<ol>
    <li>George Washington University (Data Analytics Intern)</li>
    <li>Wasserman (Brands and Properties Intern)</li>
    <li>IBM (Marketing Analytics Intern)</li>
    <li>Warner Music Group(Brand Marketing Intern)</li>
    <!-- Listed my business experiences in an order list -->
</ol>
<table>
    <tr>
        <th>Course</th>
        <th>Semester Taken</th>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring '23</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall '23</td>
    </tr>
    <tr>
        <td>BMGT364</td>
        <td>Spring '22</td>
    </tr>
</table>
    <p> A link of the <a href="/hello">Adwin Paul Hello Site</a><p>
    <p> A link of the <a href="https://www.nba.com/">NBA Website</a><p>
    <p> A link of the <a href="https://www.rhsmith.umd.edu/office-career-services/hiresmith">Hire Smith Website</a><p>

    <p>Here is a picture of the Smith Logo.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">
</body>
</html>
