{% extends "base.html" %}
{% block page_header %}Fill Out Contact Information{% endblock %}
{% block page_content %}

{% if form_submitted %}
    <div class col-md-7>
        <h3>Thank you! You have completed the form.</h3>
    </div>

     <div class="col-md-7">
        <p>First Name</p>
    </div>
     <div class="col-7">
        <p>{{ request.form.get('FirstName')}}</p>
    </div>
     <div class="col-7">
        <p>Last Name</p>
    </div>
     <div class="col-7">
        <p>{{ request.form.get('LastName')}}</p>
    </div>
     <div class="col-7">
        <p>Email</p>
    </div>
     <div class="col-7">
        <p>{{ request.form.get('email')}}</p>
    </div>
     <div class="col-7">
        <p>Phone Number</p>
    </div>
     <div class="col-7">
        <p>{{ request.form.get('PhoneNumber')}}</p>
    </div>
     <div class="col-7">
        <p>Agree to be Contacted:
    </div>
     <div class="col-7">
        <p>{{ 'Yes' if request.form.get('contactagreement') else 'No'}}</p>
    </div>

    <p><a href="{{  url_for('contact') }}">Complete form again</a></p>
 {% else %}
  <form class="row g-3" action="{{ url_for('contact') }}" method="post">
        <div class="col-md-7"><label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
  <div class="mb-7">
    <label for="LastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="LastName" name="LastName">
  </div>
 <div class="mb-7">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email"  name="email">
  </div>
 <div class="mb-7">
    <label for="PhoneNumber" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber">
  </div>
  <div class="mb-7 form-check">
    <input type="checkbox" class="form-check-input" id="contactagreement" name="contactagreement">
    <label class="form-check-label" for="contactagreement">I agree to be contacted</label>
  </div>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endif%}
{% endblock %}