<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to your training for the TerpSys Student Information System.</title>
</head>
    # the message display once the training link is clicked in nav bar
<strong>Welcome to your training for the TerpSys Student Information System.</strong>
<p> Training materials are currently under construction, but will be created very soon.
    Please check back soon or email Adwin Paul at apaul123@umd.edu if you wish to be placed on the waiting list.
</p>
     # this is the hyperlink to the email or the training
<p>Email: <a href="mailto:apaul123@umd.edu">apaul123@umd.edu</a></p>
</body>
</html>
